<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="cn.edu.neu.mapper.ScoreMapper">

	<insert id="saveNews" parameterType="StudentScore">
		insert into
		t_score(c_id,s_no,s_id,s_score,s_name,s_desc)
		values(null,#{sno},#{sbm},#{s_score},#{sname},#{lrname})
	</insert>
	<delete id="removeNews" parameterType="StudentScore">
		delete from t_score where
		id = #{sno}
	</delete>

	<select id="findAll" resultType="StudentScore">
		select
		c_id,s_no,s_id,s_score,s_name,s_desc from t_score
	</select>
	<select id="findAllForMail" resultType="MailBean">
	select
	group_concat(t.c_id,t.s_no,t.s_id,t.s_score,t.s_desc) as text ,t.s_name as title ,s.s_mail as tol from t_score t
	left join t_student s on s.s_no = replace(t.s_no,'.0','')
	group by s.s_mail,t.s_name
		
	</select>




</mapper>